<div class="dialog-container">
  <form [formGroup]="userGroup" class="dialog-form" (ngSubmit)="updateUser()">
    <h1>Add / Edit details</h1>
    <div class="dialog-fields">
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput formControlName="name">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Points</mat-label>
        <input matInput formControlName="netPoints">
      </mat-form-field>
    </div>
    <div class="dialog-actions">
      <button mat-flat-button class="btn btn-secondary" (click)="close()">
        Cancel
      </button>
      <button mat-flat-button class="btn btn-primary" [disabled]="!userGroup.valid" color="primary">
        Save
      </button>
    </div>
  </form>
</div>
